<html>

<head>
    <link rel="stylesheet" type="text/css" href="/Lobby.css">
    <meta charset="UTF-8">
    <title>Code Smith Hotel</title>
</head>

<body>
    <form method="POST" action='/createCustomer'>
        <div class="lobby">
                <select name="cars">
                        <option value="volvo"><%= (username === "ro") ? console.log("Hello") : username %></option>
                        <option value="saab"><%= password %></option>
                </select>
        </div>
    </form>
</body>

</html>