<html>

<head>
    <link rel="stylesheet" type="text/css" href="/Admin.css">
    <meta charset="UTF-8">
    <title>Code Smith Hotel</title>
</head>

<body>
    <div class="admin">
        <h1 class="adminTitle">Edit Employees</h1>
        <form class="customerHeadingForm" method="GET" action='/editcustomer'>
            <h1 class="customerHeading">Customer</h1>
            <input class= "editCustomer" type="button" value="Edit Customer Information" />
        </form>
        <form class="roomsHeadingForm" method="GET" action='/editrooms'>
            <h1 class="roomsHeading">Rooms</h1>
            <input class= "editRooms" type="button" value="Edit Room Information" />
        </form>
        <form class="employeeHeadingForm" method="GET" action='/editemployee'>
            <h1 class="employeeHeading">Employees</h1>
            <input class= "editEmployee" type="button" value="Edit Employee Information" />
        </form>
    </div>
</body>

</html>