@font-face {
    font-family: Billabong;
    src: url(Billabong.ttf);
    font-weight: bold;
  }
  
  body {
    background-image: url('Login.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .admin {
    display: grid;
    background-color: maroon;
    opacity: 0.9;
    width: 65%;
    height: 500px;
    margin: 5% auto auto auto;
    border: 2px solid white;
    border-radius: 8px;
    border-bottom: 10px solid white;
    grid-template-columns: 10% auto auto auto auto 10%;
    grid-template-rows: 15% 8% 8% 8% 8% 8% 8% 8%;
    grid-gap: 1%;
    grid-template-areas:
    'back admin admin admin admin logOut'
    'allCustomers allCustomers allCustomers allCustomers allCustomers allCustomers'
    '. . . . . .'
    'firstNameHeading firstNameHeading lastNameHeading lastNameHeading creditCardHeading creditCardHeading'
    'firstName firstName lastName lastName creditCard creditCard'
    '. . . . . .'
    'editCustomerHeading editCustomerHeading editCustomerHeading deleteCustomerHeading deleteCustomerHeading deleteCustomerHeadings'
    '. . . . . .';
  }

  .adminTitle {
    grid-area: admin;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Billabong;
    color: white;
    font-size: 300%;
  }

  .backForm {
    justify-self: stretch;
    grid-area: back;
  }

  .back {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: white solid 1px;
    border-radius: 4px;
    opacity: 0.6; 
    background: white;
    height: 10%;
    font-size: 80%;
    width: 100%;
  }

  .back:hover {
    cursor: pointer;
    opacity: 1;
  }

  .logOutForm {
    justify-self: stretch;
    grid-area: logOut;
  }

  .logOut {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: white solid 1px;
    border-radius: 4px;
    opacity: 0.6; 
    background: white;
    height: 10%;
    font-size: 80%;
    width: 100%;
  }

  .logOut:hover {
    cursor: pointer;
    opacity: 1;
  }

  .allCustomers {
    grid-area: allCustomers;
    justify-self: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
    width: 40%;
    font-size: 110%;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .eachCustomer {
    border: 2px solid white;
    border-radius: 4px; 
  }

  .editCustomerHeadingForm {
    justify-self: center;
    grid-area: editCustomerHeading;
    text-align: center;
    font-family: Billabong;
    color: white;
    font-size: 130%;
  }

  .editCustomer {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: white solid 1px;
    border-radius: 4px;
    opacity: 0.6; 
    background: white;
    height: 10%;
    font-size: 80%;
    width: 50%;
  }

  .editCustomer:hover {
    cursor: pointer;
    opacity: 1;
  }

  .deleteCustomerHeadingForm {
    justify-self: start;
    grid-area: deleteCustomerHeading;
    text-align: center;
    font-family: Billabong;
    color: white;
    font-size: 130%;
  }

  .deleteCustomer {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: white solid 1px;
    border-radius: 4px;
    opacity: 0.6; 
    background: white;
    height: 10%;
    font-size: 80%;
    width: 50%;
  }

  .deleteCustomer:hover {
    cursor: pointer;
    opacity: 1;
  }

  .firstNameHeading {
    grid-area: firstNameHeading;
    justify-self: center;
    color: white;
    border: none;
    background: none;
    font-size: 140%;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .firstName {
    justify-self: center;
    border: 1px white solid;
    border-radius: 4px;
    font-size: 140%;
    width: 90%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    grid-area: firstName;
  }

  .lastNameHeading {
    grid-area: lastNameHeading;
    justify-self: center;
    color: white;
    border: none;
    background: none;
    font-size: 140%;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .lastName {
    justify-self: center;
    border: 1px white solid;
    border-radius: 4px;
    font-size: 140%;
    width: 90%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    grid-area: lastName;
  }

  .creditCardHeading {
    grid-area: creditCardHeading;
    justify-self: center;
    color: white;
    border: none;
    background: none;
    font-size: 140%;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

  .creditCard {
    justify-self: center;
    border: 1px white solid;
    border-radius: 4px;
    font-size: 140%;
    width: 90%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    grid-area: creditCard;
  }